.side_bar 
  .side_bar__user-name
    .side_bar__item
      .side_bar__item--name
        = current_user.name
      .side_bar__item__box
        .side_bar__item__new-group
        =link_to new_group_path,class:"new-group"  do
          =icon('fas','edit')
        .side_bar__item__edit-user
        =link_to edit_user_path(current_user),class:"edit-user" do
          =icon('fas','cog')
  .side_bar__groups-list
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__group-name
            = group.name
          .group__latest__massage
            メッセージはまだありません。
