.header {
  width: calc(100vw - 300px);
  float: left;

  .main-header{
    background-color: #ffffff;
    height: 100px;
    border: solid 1px #eeeeee;
    display: flex;
    justify-content: space-between;

    .header__name{
      color: #333333;
      font-size: 20px;
      padding-left: 40px;
      margin-top: 35px;
      margin-bottom: 15px;

      .header__menber__name{
        color: #999999;
        font-size: 12px;
      }
    }

    .header__edit-btn{
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      border: 1px solid $skyblue;
      position: absolute;
      right: 40px;

      .edit{
        text-decoration: none;
        color: $skyblue;
        text-align: center;
        font-size: 16px;
      }
    }
  }

  .mainchat__messages{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 40px 46px;
    overflow: scroll;
    .messages{

      .message{
        padding-bottom: 46px;

        .upper-message__user-name{
          color: #333333;
          font-size: 16px;
          margin-bottom: 12px;
        }

        .upper-message__date{
            color: #999999;
            font-size: 12px;
          }
        
        .lower-message__content{
          color: $blueblack;
          font-size: 14px;
        }
      }
    }
  }
  .mainchat__message--form{
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 40px;

    .new_message {
      display: flex;

      .input-box{
        width: 100%;
        display: flex;
        position: relative;

        &__text{
          height: 50px;
          width: 100%;
          color: $blueblack;
          border-style: none;
          padding: 0 40px 0 10px;
        }

        &__image{
          cursor: pointer;
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
        }

        &__image__file{
          display: none;
        }
      }
      
      .submit-btn{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: $skyblue;
        color: white;
        cursor: pointer;

      }
    }
  }
} 
