.side_bar {
  height: 100vh;
  width: 300px;
  float: left;

  &__user-name {
    background-color: #253141;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;

    .side_bar__item {
      display: flex;
      justify-content: space-between;
      height: 20px;
      width: 100%;
      align-items: center;
    
      &--name {
        font-size: 16px;
        font-weight: bold;
        color: white;
      }

      &__box {
        display: flex;
        width: 60px;
      
      }

      .new-group {
        color: white;
        padding: 0 5px 0 0;
      }

      .edit-user {
        color: white;
      }
    }
  }
    .side_bar__groups-list {
      background-color: #2f3e51;
      height:calc(100vh - 100px) ;
      padding: 20px;
      box-sizing: border-box;

      .group{
        padding: 0 0 40px;
        font-weight: bold;

        &__group-name{
          font-size: 15px;
          margin-bottom: 5px;
          color: white;
        }

        .group__latest__massage{
          font-size: 11px;
          color: white;
        }
      }
    }
}